<?xml version="1.0"?>
<phpunit 
    colors="true"
    bootstrap="vendor/autoload.php"
    showUncoverdFiles="true"
    >
    <testsuites>
        <testsuite name="NagiosLivestatusClient">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="coverage" charset="UTF-8" />
    </logging>
</phpunit>
